/* Mobile first design */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.title {
	font-size: 1.9em;
	text-align: center;
}

.dark_blue {
	background-color: #2A457A;
	color: #efefef;
}

.light_blue {
	background-color: #099DD9;
}

/* map style */

#map {
	width: 100%;
	height: 100%;

}



/*** burger menu ***/

a#menu svg {
	width: 40px;
	fill: #000;
}

nav, main {
	box-sizing: border-box;
}

main {
	width: 100%;
	height: 100%;
}

nav {
	padding: 1em;
	width: 35%;
	height: 100%;
	min-width: 300px;
	position: absolute;
	/* This trasform moves the drawer off canvas. */
	-webkit-transform: translate(-300px, 0);
	transform: translate(-300px, 0);
	/* Animate the drawer. */
	transition: transform 0.3s ease;
	z-index: 99;
}

nav.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}


/* If there is (> 600px) the menu is always open. */
@media screen and (min-width: 600px) {
	/* Remove the menu. */
	#menu {
		display: none;
	}

	/* Open the drawer. */
	nav {
		position:relative;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	/* Flexbox on the parent. */
	body {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}

	main {
		width: auto;
		/* Streches the main content to fill all available space. */
		flex-grow: 1;
	}
}


/* Old CSS that might need changing */



/* form design */
input {
	width: 80%;
	box-sizing: border-box;
	padding: 12px 20px;

}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 60%;
}
