/* Mobile first design */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.title {
	font-size: 1.9em;
	text-align: center;
}

.small-title {
	font-size: 1.2em;
	text-align: center;
	background-color: #2A457A;
}

.dark_blue {
	background-color: #2A457A;
	color: #efefef;
}

.light_blue {
	background-color: #099DD9;
}

/* map style */

#map {
	width: 100%;
	height: 100%;

}


/*** burger menu ***/

a#menu svg {
	width: 40px;
	fill: #000;
}

a#menu-close svg {
	width: 40px;
	fill: #000;
}



nav, main {
	box-sizing: border-box;
}

main {
	width: 100%;
	height: 100%;
}

nav {
	width: 45%;
	height: 100%;
	position: absolute;
	/* This trasform moves the drawer off canvas. */
	-webkit-transform: translate(-300px, 0);
	transform: translate(-300px, 0);
	/* Animate the drawer. */
	transition: transform 0.3s ease;
	z-index: 99;
	overflow-y: scroll;

}

nav.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.close-x {
  stroke: black;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

#container {
	padding: 1em;

}

#crimes {
	overflow-y: scroll;
}

/* If there is (> 600px) the menu is always open. */
@media screen and (min-width: 600px) {
	/* Remove the menu. */
	#menu, #menu-close {
		display: none;
	}

	/* Open the drawer. */
	nav {
		position:relative;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 35%;
		height: 100%;
		min-width: 250px;
		overflow-y: scroll;
	}

	/* Flexbox on the parent. */
	body {
		display: -webkit-flex;
		display: flex;
		/* -webkit-flex-flow: row nowrap;
		flex-flow: row nowrap; */
	}

	main {
		width: auto;
		/* Streches the main content to fill all available space. */
		flex-grow: 1;
	}

	#crimes {
		overflow-y: scroll;
	}

}

/* form design */
.form-container {
	display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	width: 100%
	justify-content: center;
}


input[type=text] {
	width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('/img/searchicon.png'); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; */
}

label {
	flex-basis: 100%;
	padding-bottom: 0.6em;
}


#form-container {
	padding-bottom: 2em;
}

#location {
	flex-basis: 100%;
	justify-content: center;
}

#search-btn {
	flex-basis: 100%;
	justify-content: center;
	background-color: #457A2A; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

}

#search-btn:hover {
    background-color: #30541D; /* Green */
    color: white;
}


/* list design to hold all of the filtered crimes */

#currentcrime {
	background-color: rgba(122, 75, 42, .9);
}

.paddedp {
	padding: 3px 10px 5px 20px;
}

ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

ul li {
   font-weight: bold;
   margin: 0;
   padding: 3px 10px 5px 20px;
   border-top: 1px solid #ccc;
   color: #ffffff;
}

li {
	background-color: rgba(69, 42, 122, .25)
}

li:nth-child(odd) {
	background-color: rgba(42, 122, 95, .25)
}


ul li:hover {
   color: #000;
   background-color: #ddd;
 }
