/* Mobile first design */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.title {
	font-size: 2.5em;
	text-align: center;
}

.box {
	min-height: 150px;
	width: 100%;
}

.dark_blue {
	background-color: #2A457A;
	color: #efefef;
}

.light_blue {
	background-color: #099DD9;
}

.green {
	background-color: #0C8542;
}

.left {
	min-height: 150px;
	width: 100%;
}

.right {
	height: 100%;
	width: 100%;
}


/* These are the responsive breakpoins */

.container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}


/* media screen queries */

@media screen and (min-width: 450px) {
	.dark_blue {
		width: 25%;
	}
	.light_blue {
		width: 75%;
	}
}


@media screen and (min-width: 650px) {
	.left {
		width: 40%;
	}
	.right {
		width: 60%;
		height: 100%;
	}
}

/* map style */

#map {
	width: 100%;
	height: 100%;
	min-height: 150px;
}


/* Old CSS that might need changing */
}

.form-outer li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 1 0 120px;
	max-width: 420px;
}

.form-outer label {
	flex: 1 0 220px;
}

/* form design */
input {
	width: 80%;
	box-sizing: border-box;
	padding: 12px 20px;

}

#locationBtn {
	width: 24%;
}




#overlay {
	position: absolute;
	top: 10px;
	left: 100px;
	z-index: 99;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 60%;
}
